[submodule ".vim/neobundle.vim"]
	path = .vim/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "/home/tomohiro-inoue/.dotfiles/oh-my-zsh"]
	path = /home/tomohiro-inoue/.dotfiles/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
